{% extends "main.html"%}
    {% block signin %}
        <div class="logout_user">
            <a href="{{url_for('gdisconnect')}}">
                <button class="btn btn-default">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span> &nbsp;Logout
                </button>
            </a>
        </div>        
    {% endblock %}
{% block user %}
    <img src="{{user.picture}}" class="img-responsive img-circle" alt="{{user.name}}">
    <h2>{{user.name}}</h2>
{% endblock %}    
    {% block options %}

        <div class="edit_restaurant menu_options">
                <a href="{{url_for('editRestaurant',restaurant_id = restaurant.id)}}">
                    <button class="btn btn-default">
                        <span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>Edit Restaurant
                    </button>
                </a>
          </div>
          <div class="delete_restaurant menu_options">
                <a href="{{url_for('deleteRestaurant',restaurant_id = restaurant.id)}}">
                    <button class="btn btn-default">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>Delete Restaurant
                    </button>
                </a>
          </div>
          <div class="add_menuitem menu_options">
                <a href="{{url_for('newMenuItem',restaurant_id = restaurant.id)}}">
                    <button class="btn btn-default" id="new-restaurant">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Add MenuItem
                    </button>
                </a>
          </div>
    {% endblock %}
{% block pagetitle%}
        <h1>
            {{restaurant.name}}
        </h1>
{% endblock %}
{% block content %}

        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                    <li><strong>{{message}}</strong></li>
                {% endfor %}    
            </ul>
            {% endif %}
        {% endwith %}    


<section class="menu_items">
    <div class="row">
        {% for i in items %}
            <div class="col-md-12">
                <h3 class="menu_name">{{i.name}}</h3>
                <p class="menu_description">{{i.description}}</p>
                <p class="menu_price"> {{i.price}} </p>
        
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </button>
                    <ul class="dropdown-menu pull-right" aria-labelledby="dropdownMenu1">
                        <li><a href='{{url_for('editMenuItem', restaurant_id = restaurant.id, menu_id = i.id) }}'>Edit</a></li>
                        <li><a href = '{{url_for('deleteMenuItem', restaurant_id = restaurant.id, menu_id = i.id ) }}'>Delete</a></li>
                    </ul>
                </div>
            </div>
            
        {% endfor %}
    </div>
</section>
{% endblock %}